{% if israeli_customer %}
  <div class="row">
    <div class="col-md-12">
      <div class="form-group required" style="margin-bottom: 20px;">
        <label class="col-sm-10 control-label" style="text-align: right;">{{ text_tash }}</label>
        <div class="col-sm-2">
          <select class="form-control" name="payment_tash" onchange="{% if type == 'redirect' %}$(\'form#yaadpay_form input[name=Tash]\').val($(this).val()) {% else %} chage_iframe_yaadpay_src($(this).val()) {% endif %}">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

{% if type == 'redirect' %}
  <form id="yaadpay_form" action="https://icom.yaad.net/p/" method="post">
    <!--Required Parameter -->
      <input type="hidden" name="action" value="pay">
      <input type="hidden" name="Masof" value="{{ terminal_id }}">
      <input type="hidden" name="Sign" value="True">
      <input type="hidden" name="Amount" value="{{ order_total }}">

      <!-- TODO: PAGOS PARTIDOS SOLO PARA CLIENTES DE ISRAEL -->
      <input type="hidden" name="Tash" value="{{ tash }}">
      <input type="hidden" name="MoreData" value="True">
      <input type="hidden" name="ClientName" value="{{ customer_name }}">
      <input type="hidden" name="UTF8" value="True">
      <input type="hidden" name="UTF8out" value="True">
      <input type="hidden" name="Order" value="{{ order_id }}">

      <input type="hidden" name="Info" value="{{ order_id }}">
      <input type="hidden" name="SendHesh" value="True">
      <input type="hidden" name="Coin" value="{{ currency_code }}">
      <input type="hidden" name="Postpone" value="{{ postpone }}">

    <!-- END Required Parameter -->

    <!-- Optional -->
      <input type="hidden" name="street" value="{{ payment_address }}">
      <input type="hidden" name="city" value="{{ payment_city }}">
      <input type="hidden" name="zip" value="{{ payment_postcode }}">
      <input type="hidden" name="phone" value="{{ payment_phone }}">
      <input type="hidden" name="cell" value="{{ payment_phone }}">
      <input type="hidden" name="email" value="{{ payment_email }}">
      <input type="hidden" name="PageLang" value="{{ page_lang }}">
    <!-- END Optional -->

    {% if not israeli_customer %}
      <input type="hidden" name="UserId" value="000000000">
	  {% endif %}

    <div class="buttons">
      <div class="pull-right">
        <input type="submit" value="{{ button_confirm }}" class="btn btn-primary" />
      </div>
    </div>
  </form>
  {% else %}
  <iframe
  frameborder="0"
  id="iframe_yaadpay"
  src="https://icom.yaad.net/p/?action=pay&Masof={{ terminal_id }}&Sign=True&Amount={{ order_total }}&Coin={{ currency_code }}&Postpone={{ postpone }}&Tash={{ tash }}&SendHesh=True&MoreData=True&ClientName={{ customer_name }}&UTF8=True&UTF8out=True&Order={{ order_id }}&Info={{ order_id }}&street={{ payment_address }}&city={{ payment_city }}&zip={{ payment_postcode }}&phone={{ payment_phone }}&cell={{ payment_phone }}&email={{ payment_email }}&PageLang={{ page_lang }}{% if not israeli_customer %}&UserId=000000000{% endif %}"
  height="{{ iframe_height }}"
  width="{{ iframe_width }}"></iframe>
  <script type="text/javascript">
    function chage_iframe_yaadpay_src(payment_tash)
    {
      paramName = 'Tash';
      url = $('iframe#iframe_yaadpay').attr('src');

      if(payment_tash == null)
        return false;

      var pattern = new RegExp('\\b('+paramName+'=).*?(&|$)');

      if(url.search(pattern)>=0)
        var new_src = url.replace(pattern,'$1' + payment_tash + '$2');
      else
        var new_src = url + (url.indexOf('?')>0 ? '&' : '?') + paramName + '=' + payment_tash

      $('iframe#iframe_yaadpay').attr('src', new_src);
    }
  </script>
  {% endif %}
